################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroServices/CopilotIndices/17.12.53.23981
/PlatformService/Data/AppDbContext.cs
/PlatformService/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PlatformService/obj/PlatformService.csproj.nuget.dgspec.json
/PlatformService/obj/PlatformService.csproj.nuget.g.props
/PlatformService/obj/PlatformService.csproj.nuget.g.targets
/PlatformService/obj/project.assets.json
/PlatformService/obj/project.nuget.cache
/PlatformService/obj/Release/net9.0/PlatformService.AssemblyInfo.cs
/PlatformService/obj/Release/net9.0/PlatformService.AssemblyInfoInputs.cache
/PlatformService/obj/Release/net9.0/PlatformService.assets.cache
/PlatformService/obj/Release/net9.0/PlatformService.csproj.AssemblyReference.cache
/PlatformService/obj/Release/net9.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
/PlatformService/obj/Release/net9.0/PlatformService.GlobalUsings.g.cs
/PlatformService/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PlatformService/obj/Debug/net9.0/PlatformService.AssemblyInfo.cs
/PlatformService/obj/Debug/net9.0/PlatformService.AssemblyInfoInputs.cache
/PlatformService/obj/Debug/net9.0/PlatformService.assets.cache
/PlatformService/obj/Debug/net9.0/PlatformService.csproj.AssemblyReference.cache
/PlatformService/obj/Debug/net9.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
/PlatformService/obj/Debug/net9.0/PlatformService.GlobalUsings.g.cs
/.vs/MicroServices
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
